body {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-family: "Bell MT", Arial, sans-serif;
    background-color: #C0C0C0;
    width: 1024px;
    height: 1.3em;
    text-decoration: underline #f00;
}

#staticRocket {
    background-image: url("rocket-launchBG.jpg");
}

#animatedRocket {
    border: 1px solid blue;
}